<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="https://github.com/synergyclub" target="_blank">GitHub</a>
      <a href="https://buymeacoffee.com/shhssynerg9" target="_blank">Support Us</a>
      <a href="mission.html">Our Mission</a>
      <a href="about.html">About Us</a>
    </div>
    <div class="footer-copyright">
      <p>© 2023-2025 Synergy Club. All rights reserved.</p>
      <p>Built with 💚 by <a href="https://github.com/synergyclub" class="footer-github-link" target="_blank">Synergy Team</a></p>
      <p><span data-version></span></p>
    </div>
  </div>
</footer>